* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif; 
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
}

:root {
    --main-color: #347E9D;
    --text-color: #000000;
    --bg-color: #fff;
    --big-font: 5rem;
    --h2-font: 2.25rem;
    --p-font: 0.9rem;
}

*::selection {
    background: var(--main-color);
    color: #fff;
}

html {
    overflow-x: hidden;
    
}

body {
    color: var(--text-color);
    background: var(--bg-color);
    padding-top: 70px;
}

header {
    width: 100%;
    height: 70px;
    background: var(--bg-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
        0 4px 6px -4px rgba(0, 0, 0, 0.1);
}

.fixed-nav-bar { 
    position: fixed; 
    top: 0; left: 0; 
    z-index: 9999; width: 100%; 
    height: 70px; 
}

.logo img{
    height: 50px;
    display: block;
}

#menu-icon {
    display: none;
}

.nav-bar ul {
    display: flex;
}

.nav-bar ul li a {
    display: block;
    color: var(--text-color);
    font-size: 18px;
    padding: 9px 22px;
    border-radius: 50px;
    transition: 0.2s;
    margin: 0 5px;
}

.nav-bar ul li a:hover {
    color: var(--bg-color);
    background: var(--main-color);
}

.nav-bar ul li a.active {
    color: var(--bg-color);
    background: var(--main-color);
}

.home {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    position: relative;
    z-index: 0;
}

.home .content{
    text-align: center;
}

.home .content h3{
    font-size: 2.5rem;
    color: var(--bg-color);
    text-transform: uppercase;
    text-shadow: 0.3rem .5rem rgba(0, 0, 0, 0.1);
}

.home .content p{
    font-size: 1.2rem;
    color: var(--text-color);
    padding: 0.5rem 0;
}

.btn {
    display: inline-block;
    margin-top: 1rem;
    color: var(--bg-color);
    padding: .6rem 2rem;
    border: .2rem solid var(--main-color);
    border-radius: 50px;
    cursor: pointer;
}

.btn:hover {
    background: var(--main-color);
    color: var(--bg-color);
}

.home .video-container video{
    position: absolute;
    top: 0; left: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.home .controls {
    padding: .5rem;
    border-radius: 5rem;
    background: var(--text-color);
    position: relative;
    top: 6rem;
}

.home .controls .vid-btn {
    height: 1rem;
    width: 1rem;
    display: inline-block;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
    margin: 0 .3rem;
}

.home .controls .vid-btn.active  {
    background: var(--main-color);
}

.sub-home {
    min-height: 100vh;
    display: flex;
    flex-flow: column;
    position: relative;
    align-items: left;
    justify-content: center;
    z-index: 1;
    margin-left: 3rem;
    margin-right: 3rem;
    margin-top: 3rem;
    
}

.sub-home-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    gap: 1rem;
    align-items: center;
    margin-top: 2rem;
    cursor: pointer;
}

.row img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.row {
    transition: all .38s ease;
}

.sub-home-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
}

.row p{
    color: rgb(104, 103, 103);
    font-size: 15px;
    line-height: 25px;
    margin-bottom: 15px;
}

.main-text p {
    font-size: 15px;
    margin-top: 15px;
}

.row:hover {
   transform: scale(1.02); 
}

@media only screen and (max-width: 1320px) {
    header {
        padding: 0 50px;
    }
}
@media only screen and (max-width: 1100px) {
    header {
        padding: 0 30px;
    }
}
@media only screen and (max-width: 850px) {
    #menu-icon {
        display: block;
        cursor: pointer;
        font-size: 2rem;
    }
    .nav-bar {
        height: 0px;
        position: absolute;
        top: 70px;
        left: 0;
        right: 0;
        width: 100vw;
        background: white;
        transition: 0.2s;
        overflow: hidden;
    }
    .nav-bar.active {
        height: 450px;
        z-index: 1;  
    }
    .nav-bar ul {
        display: block;
        width: fit-content;
        margin: 60px auto 0 auto;
        text-align: center;
        transition: 0.5s;  
        opacity: 0;
    }
    .nav-bar.active ul {
        opacity: 1;
    }
    .nav-bar ul li a {
        margin-bottom: 12px;
    }  
}